h1 {
    text-align: center;
    color: #780606;
    font-family: "Nosifer", sans-serif;
    font-size: 110px;
    z-index: 2;
}

body {
    background: url("assets/images/murder_mystery_background_design__by_snotrocket1944_dgln709-pre.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 4rem; /* Increase gap if needed for bigger cards */
    flex-wrap: wrap;
    z-index: 2;
}

.card {
    width: 20rem; /* Increased width for larger cards */
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 1rem; /* Adjust margin for spacing */
    background-color: white;
    height: fit-content;
    position: relative;
    padding-bottom: 2.5rem;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 15rem; /* Increased height for larger images */
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.card-title, .description {
    margin: 1rem 5%; /* Increased margin for bigger text sections */
    text-align: center;
    font-size: 25px;
}

.description {
    margin-bottom: 3rem;
}

.card-btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.75rem 1.5rem; /* Adjust button size for larger cards */
    background-color: #780606;
    color: white;
    text-decoration: none;
    text-align: center;
}
.btn {
    border-radius: 8px;
    padding: 1rem 2rem; /* Increases button size */
    background-color: white;
    color: #780606;
    text-decoration: none;
    text-align: center;
    font-size: 24px; /* Increases font size */
    font-family: "Denk One", sans-serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Adds a shadow effect to the button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    cursor: pointer; /* Adds a pointer on hover */
}